@font-face {
    font-family: 'Georgia';
    src: url('/assets/Georgia.woff2') format('woff2'),
        url('/assets/Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/Roboto-Thin.woff2') format('woff2'),
        url('/assets/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url('/assets/PTSans-NarrowBold.woff2') format('woff2'),
        url('/assets/PTSans-NarrowBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/assets/OpenSans-Bold.woff2') format('woff2'),
        url('/assets/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

#colors {
    color: #FFDD8B; 
    color: #FFFFFF;
    color: #242021;
    color: #7C7C7C;
    color: #ABABAB;
    color: #68BB35;
    color: #F64225;
    color: #C3321B;
}

.color-yellow {
    color: #FFDD8B; 
}

.color-white {
    color: #FFFFFF;  
}

.color-black {
    color: #242021;
}

.color-red {
    color: #F64225;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

nav {
    width: 100vw;
    height: 140px;
    background-color: #C3321B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

nav #nav-top {
    width: 40vw;
    height: 40px;
    margin-right: -730px;
    background-color: #C3321B;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    font-size: 0.82rem;
}

nav #nav-top-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 220px;
}

nav #nav-bot {
    width: 100vw;
    height: 100px;
    background-color: #F64225;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav #nav-bot #nav-logo {
    font-size: 2.5rem;
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
} 

nav #nav-bot #nav-menu {
    min-width: 900px;
    list-style-type: none;
    font-size: 0.93rem;
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-icon {
    padding: 8px;
    background-color: white;
    border-radius: 10px;
}

#home-carousel {
    width: 100vw;
    height: 450px;
    background-color: #1A1A1A;
}

#home-description {
    width: 100vw;
    height: 180px;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
}

.description-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    font-family: 'Open Sans';
    font-weight: bolder;
    font-style: normal;
    font-size: 1.1rem;
    padding: 25px;
}

#description-container0 {
    background-color: #231F20;
}

#description-container1 {
    background-color: #1F1B1C;
}

#description-container2 {
    background-color: #161415;
}

#description-container3 {
    background-color: #0F0D0E;
}

.btn-decoration {
    border: 1px solid white;
    padding: 13px;
    border-radius: 10px;
}

#products {
    width: 100vw;
    height: 700px;
    background-color: #EBEBEB;
}

#whatsapp {
    width: 100vw;
    height: 360px;
    background-color: #FFFFFF;
}

#form {
    width: 100vw;
    height: 600px;
    background-color: #292728;
}

#footer {
    width: 100vw;
    height: 360px;
    background-color: #231F20;
}

#footer-bot {
    width: 100vw;
    height: 40px;
    background-color: #100E0F;
}