body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#nav-info {
    background-color: #C3321B;
    width: 100vw;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFDD8B;
}

.nav-info-margin-left {
    margin-left: 30%;
}

.nav-info-margin-right {
    margin-right: 30%;
}

#nav-menu {
    background-color: #F64225;
    width: 100vw;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo {
    height: 30%;
}

.nav-ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 700px;
    color: #ffff;
}

#btn-search {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.btn-search {
    width: 15px;
    background-color: white;
}

.nav-mobile {
    display: none;
}

.nav-mobile-btn {
    width: 50px;
    cursor: pointer;
}

#banner-carousel {
    background-color: gray;
    width: 100vw;
    height: 400px;
}

#info-section {
    background-color: thistle;
    width: 100vw;
    height: 250px;
}

#products {
    background-color: #EBEBEB;
    width: 100vw;
    height: 700px;
}

#contact-whatsapp {
    background-color: white;
    width: 100vw;
    height: 300px;
}

#contact-form {
    background-color: gray;
    width: 100vw;
    height: 500px;
}

#footer-desc {
    background-color: #231F20;
    width: 100vw;
    height: 265px
}

#footer-cred {
    background-color: #100E0F;
    width: 100vw;
    height: 35px;
}

#btn-search {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.btn-search {
    width: 50%;
    background-color: white;
}

@media screen and (max-width: 1440px) {
    .nav-info-margin-left {
        margin-left: 20%;
    }
    
    .nav-info-margin-right {
        margin-right: 20%;
    }
}

@media screen and (max-width: 1200px) {
    .nav-info-margin-left {
        margin-left: 10%;
    }
    
    .nav-info-margin-right {
        margin-right: 10%;
    }
}

@media screen and (max-width: 1024px) {
    #nav-info {
        font-size: 0.8rem;
    }

    .nav-ul {
        min-width: 650px;
    }
}


@media screen and (max-width: 768px) {
    #nav-info {
        font-size: 0.7rem;
    }

    .nav-ul {
        min-width: 450px;
        font-size: 0.7rem;
    }

    #btn-search {
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .btn-search {
        width: 50%;
        background-color: white;
    }
}

@media screen and (max-width: 480px) {
    #nav-info {
        font-size: 0.6rem;
    }

    .nav-info-margin-left {
        margin-left: 0;
    }
    
    .nav-info-margin-right {
        margin-right: 0;
    }

    .nav-ul {
        display: none;
    }

    .nav-mobile {
        display: block;
    }

}

@media screen and (max-width: 425px) {
    #nav-info {
        font-size: 0.5rem;
    }

    .nav-info-margin-left {
        margin-left: 0;
    }
    
    .nav-info-margin-right {
        margin-right: 0;
    }
}

@media screen and (max-width: 375px) {
    #nav-info {
        font-size: 0.5rem;
    }

    .nav-info-margin-left {
        margin-left: 0;
    }
    
    .nav-info-margin-right {
        margin-right: 0;
    }
}

@media screen and (max-width: 320px) {
    #nav-info {
        font-size: 0.4rem;
    }

    .nav-info-margin-left {
        margin-left: 0;
    }
    
    .nav-info-margin-right {
        margin-right: 0;
    }
}

